body {
    color: #d1d400;
    background: #06002b;
    margin: 0px;
}

header {
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
    color: yellow;
}

section{
    backgroud: #0f0074;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
